doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png") 
    link(href="https://fonts.googleapis.com/css2?family=Italianno&family=Luckiest+Guy&display=swap" rel="stylesheet") 
   
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header

     //background food images

    img(src="/images/photos/newchef2.png", style="top:5px; right: 160px;" class="backimage")
    img(src="/images/photos/newchef.png", style="top:5px; left:160px;" class="backimage")
    
    
    if user
      header.top
        .headee
          img(src="/images/photos/tomicon.png", width="100px" height="100px")    
          a(href="/login", class='text2') Tomato
        nav.nav
          .nav__section.nav__section--pages
            li.nav__item

                if user.isAdmin
                  each item in h.adminMenu
                    li.nav__item
                      a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                        != h.icon(item.icon)
                        span #{item.title}
      
                else
                  each item in h.menu
                    li.nav__item
                      a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                        != h.icon(item.icon)
                        span #{item.title}
                  .nav__section.nav__section--search
                    .search
                      input.search__input(type="text" placeholder="Search for restaurant here..." name="search")
                      .search__results
                  
    else 
      .headee
        img(src="/images/photos/tomicon.png", width="100px" height="100px")    
        a(href="/login", class='text2') Tomato
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content
      
    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
