extends layout

mixin buttons(id)
    button.delete(data-id=id)
      != h.icon('unchecked')


block content


    .inner
        h2 users
        table.table
            tr
                th S no.
                th Name
                th E-mail
                th Delete
                th id

            each user,i in allUser
                tr
                    td= (i + 1)
                    td= user.name
                    td= user.email
                    td  
                        +buttons(user._id)                        
                    td= user._id